LintQuery (
    identifier: "S000",
    query: r#"{
        Statement {
            ... on ClassNameStmt {
                identifier @filter(op: "regex", value: ["$pascalcase_regex"]) @output
            }
        }
    }"#,
    args: {
        "pascalcase_regex": String("[A-Z].*")
    }
)
