on:
  push:
  merge_group:

name: Rustfmt

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: rui314/setup-mold@v1
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly-2024-09-29
          components: rustfmt

      - uses: actions-rust-lang/rustfmt@v1
